body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#info h1 {
    margin: 0;
}

#info button {
    width: 120px;
}

#account-connection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.user {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user .profile-pic img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.user .stats p {
    font-weight: 700;
}

#shared-playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#shared-playlist button {
    width: 10rem;
}

#table-container {
    border: 1px solid black;
    height: 25vh;
    width: 30vw;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
}

#shared-playlist p {
    margin: 0;
    text-align: right;
}